@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

/* Todo: support light mode */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 41, 55; /*50, 50, 50;*/
  --background-end-rgb: 31, 41, 55; /*50, 50, 50;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 41, 55; /*50, 50, 50;*/
    --background-end-rgb: 31, 41, 55; /*50, 50, 50;*/
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* for scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for loading spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0279c9;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes flyInFromTop {
  0% {
    transform: translateY(-25vh); /* Start above the screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyInFromBottom {
  0% {
    transform: translateY(25vh); /* Start below the screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyInFromTop {
  animation: flyInFromTop 0.5s ease-out forwards;
}

.flyInFromBottom {
  animation: flyInFromBottom 0.5s ease-out forwards;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out-L {
  animation: fadeOutAndIn-L ease 1s;
  -webkit-animation: fadeOutAndIn-L ease 1s;
  -moz-animation: fadeOutAndIn-L ease 1s;
  -o-animation: fadeOutAndIn-L ease 1s;
  -ms-animation: fadeOutAndIn-L ease 1s;
}

@keyframes fadeOutAndIn-L {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(-20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(-100%);
  }
}

@-moz-keyframes fadeOutAndIn-L {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(-20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(-100%);
  }
}

@-webkit-keyframes fadeOutAndIn-L {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(-20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(-100%);
  }
}

@-o-keyframes fadeOutAndIn-L {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(-20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(-100%);
  }
}

@-ms-keyframes fadeOutAndIn-L {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(-20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(-100%);
  }
}

.fade-out-R {
  animation: fadeOutAndIn-R ease 1s;
  -webkit-animation: fadeOutAndIn-R ease 1s;
  -moz-animation: fadeOutAndIn-R ease 1s;
  -o-animation: fadeOutAndIn-R ease 1s;
  -ms-animation: fadeOutAndIn-R ease 1s;
}

@keyframes fadeOutAndIn-R {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(100%);
  }
}

@-moz-keyframes fadeOutAndIn-R {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(100%);
  }
}

@-webkit-keyframes fadeOutAndIn-R {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(100%);
  }
}

@-o-keyframes fadeOutAndIn-R {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(100%);
  }
}

@-ms-keyframes fadeOutAndIn-R {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1.2) translateX(20px);
  }
  50% {
    opacity: 0;
    transform: scale(1.2) translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(100%);
  }
}